/*=== GLOBAL STYLES
  ==============================*/

html {
	font-size: 16px;
}

body {
	background-color: #eee;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: #fff;
}

header, main {
	text-align: center;
}

h1 {
	margin: 0;
	line-height: 10vh;
	letter-spacing: 1.2;
	font-size: 2.8em;
}

h3 {
	margin: 0 0 20px;
	padding-top: 40px;
	font-size: 1.6em;
}

header {
	background-color: #172024;
	margin: 0;
	padding: 0;
	height: 10vh;
}

main {
	background-color: #2A434C;
	min-height: 90vh;
	height: auto;
}

.btn {
	width: 80px;
	margin: 0 5px 20px;
}

.col-twenty, .col-sixty {
	display: inline-block;
}

.hideRow {
	visibility: hidden;
}

.showRow {
	visibility: visible;
}




/*=== GAME STYLES
  ===================================*/
main .container {
	width: 90%;
	margin: 0 auto;
}

main .container .row {
	width: 40%;
	margin: 0 auto;
}

.box {
	width: 30%;
	margin: 5px 1.25%;
	background-color: darkseagreen;
	padding-bottom: 30%;
	display: inline-block;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

/*Fade Out Styles*/
.animated {
    -webkit-animation-duration: 1s;animation-duration: 1s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
 }
/*Fade Out Styles*/

/*Fade In Styles*/
 @-webkit-keyframes fadeIn {
    100% {opacity: 1;}
    0% {opacity: 0;}
 }
 
 @keyframes fadeIn {
    100% {opacity: 1;}
    0% {opacity: 0;}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
/*Fade In Styles*/


/*=== MEDIA QUERIES
=============================================================*/
/*=== SMALL DESKTOPS
=============================================================*/
@media screen and ( max-width: 991px ) {
	main .container .row {
		width: 60%;
	}
}

/*=== MOBILE
=============================================================*/
@media screen and ( max-width: 768px ) {
	h3 {
		font-size: 2.2em;
	}

	main .container .row {
		width: 90%;
	}
}